{% assign btnColor = '' %}
{% assign btnSize = '' %}
{% assign btnIcon = false %}

{% if color %}
  {% assign btnColor = color %}
{% endif %}

{% if size %}
  {% assign btnSize = 'btn--' | append: size %}
{% endif %}

{% if icon %}
  {% assign btnIcon = 'icon-' | append: icon %}
{% endif %}

<{% if tag != blank %}{{ tag }}{% else %}a{% endif %}
  {% if href != blank %}
    href="{{ href }}"
  {% endif %}

  {% if id != blank %}
    id="{{ id }}"
  {% endif %}

  {% if target != blank %}
    target="{{target}}"
  {% endif %}

  class="btn{% if btnColor != '' %} {{ btnColor }}{% endif %}{% if btnSize != '' %} {{ btnSize }}{% endif %}{% if btnIcon %} btn-with-icon{% endif %}{% if class %} {{ class }}{% endif %}"
>
  {% case btnIcon %}
    {% when 'icon-download' %}
      <span>{% render 'icon-download' %}</span>
      <span class="label">{{ label }}</span>
      <span>{% render 'icon-download' %}</span>
    {% when 'icon-arrow-right' %}
      <span>{% render 'icon-arrow-right' %}</span>
      <span class="label">{{ label }}</span>
      <span>{% render 'icon-arrow-right' %}</span>
    {% else %}
      <span class="label">{{ label }}</span>
  {% endcase %}
</{% if tag != blank %}{{ tag }}{% else %}a{% endif %}>
