{{ 'snippet-cart-drawer.css' | asset_url | stylesheet_tag }}

<div class="cart-drawer">
  <div class="cart-drawer__wrapper">
    <div class="cart-drawer__header">
      <h2 class="text--xl">Cart</h2>
      <span class="close-cart-drawer cart-toggle">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.7429 19.6014C20.8223 19.6753 20.8859 19.7645 20.9301 19.8636C20.9742 19.9627 20.998 20.0696 20.9999 20.1781C21.0018 20.2865 20.9818 20.3942 20.9412 20.4948C20.9006 20.5954 20.8401 20.6867 20.7634 20.7634C20.6867 20.8401 20.5954 20.9006 20.4948 20.9412C20.3942 20.9818 20.2865 21.0018 20.1781 20.9999C20.0696 20.998 19.9627 20.9742 19.8636 20.9301C19.7645 20.8859 19.6753 20.8223 19.6014 20.7429L10.4799 11.6227L1.35831 20.7429C1.2052 20.8856 1.00269 20.9633 0.793444 20.9596C0.584196 20.9559 0.384551 20.8711 0.236567 20.7231C0.0885843 20.5752 0.00381776 20.3755 0.000125836 20.1663C-0.00356609 19.957 0.0741048 19.7545 0.216776 19.6014L9.33697 10.4799L0.216776 1.35831C0.0741048 1.2052 -0.00356609 1.00269 0.000125836 0.793444C0.00381776 0.584196 0.0885843 0.384551 0.236567 0.236567C0.384551 0.0885843 0.584196 0.00381776 0.793444 0.000125836C1.00269 -0.00356609 1.2052 0.0741048 1.35831 0.216776L10.4799 9.33697L19.6014 0.216776C19.7545 0.0741048 19.957 -0.00356609 20.1663 0.000125836C20.3755 0.00381776 20.5752 0.0885843 20.7231 0.236567C20.8711 0.384551 20.9559 0.584196 20.9596 0.793444C20.9633 1.00269 20.8856 1.2052 20.7429 1.35831L11.6227 10.4799L20.7429 19.6014Z" fill="currentColor"/>
        </svg>
      </span>
    </div>
    <div class="cart-drawer__body">
      {% form 'cart', cart, class: 'cart-drawer__form' %}
        {% if cart.item_count == 0 %}
          <p>Your cart is empty</p>
        {% else %}
          {% for line_item in cart.items %}
            {% assign product_obj = collections.all.products | where: 'id', line_item.id %}
            {% assign product = product_obj[0] %}
            
            {% assign parent_product_obj = collections.all.products | where: 'id', line_item.product_id %}
            {% assign parent_product = parent_product_obj[0] %}

            <div class="cart-product" data-key="{{ product.key }}">
              <div class="cart-product__wrapper">
                <div class="image">
                  <img class="product-icon" src="{{ parent_product.metafields.custom.product_icon.value | image_url }}">
                  <img src="{{ product.metafields.cart.image.value | image_url }}">
                  {{ product.metafields.cart.image.value }}
                </div>
                <div class="body">
                  <div class="product-label text--s">{{ parent_product.title }}</div>
                  <div class="body__row top">
                    <a class="link text--m-s" href="{{ product.url }}">{{ product.title }}</a>
                    <div class="weight--semi-bold text--m-s">{{ product.line_price | money }}</div>
                  </div>
                  <div class="body__row bottom">
                    {% render 'input-quantity', value: product.quantity, type: 'cart-drawer' %}
                    <a class="link link--purple underlined weight--normal text--xs remove-product">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endform %}
    </div>
    <div class="cart-drawer__footer">
      {% if cart.item_count != 0 %}
        <div class="cart-drawer__totals">
          <div class="tax-message text--s">Shipping, taxes, and discounts will be calculated at checkout.</div>
          <div class="subtotal text--m-s">
            <label>Subtotal</label>
            <div class="weight--semi-bold">{{ cart.total_price | money }}</div>
          </div>
        </div>
      {% endif %}
      <div class="cart-drawer__controls">
        {% render 'button', label: 'Continue shopping', class: 'close-cart-drawer cart-toggle' %}
        {% if cart.item_count != 0 %}
          {% render 'button', label: 'Checkout', color: 'purple', icon: 'arrow-right', href: '/cart' %}
        {% endif  %}
      </div>
    </div>
  </div>
</div>
