<div class="list-product" id="{{ product.handle }}" data-product>
  <div class="list-product__head">
    <img src="{{ product.metafields.custom.product_icon.value | image_url }}">
    <h3 class="text--xl"><a class="link" href="{{ product.url }}">{{ product.title }}</a></h3>
  </div>
  <div class="list-product__variants">
    {% for variant in product.variants %}
      <div class="variant" data-aos="fade-up">
        <a class="variant__route" href="{{ product.url }}?variant={{ variant.id }}"></a>
          <div class="variant__title">
            <a class="link text--m-s" href="{{ product.url }}?variant={{ variant.id }}">{{ variant.title }}</a>
          </div>
          <div class="variant__price text--m-xs weight--semi-bold">{{ variant.price | money }}</div>
          <form class="variant__controls" action="/cart/add">
            <input type="hidden" name="form_type" value="product">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="id" value="{{ variant.id }}">
            <input type="hidden" name="product-id" value="{{ product.id }}">
            {% render 'input-quantity', value: 1, id: variant.id %}
            {% render 'button', label: 'Add to cart', color: 'purple', class="add-to-cart", tag: 'button' %}
          </form>
      </div>
    {% endfor %}
  </div>
</div>
