{% comment %}
  Renders product media

  Accepts:
  - data: {Object} JSON data object

  Usage:
  {% render 'variant-media-gallery',
    data: data,
  %}
{% endcomment %}

{% assign variants = data | json_parse %}

<div class="product-gallery-full swiper">
    <div class="swiper-wrapper">
        {% for item in variants %}
            <div class="product-gallery-full__img swiper-slide" id="{{item.title | handleize }}-{{forloop.index0}}">
                <img src="{{ item.image | img_url: "1024x" }}" alt="">
            </div>
        {% endfor %}
    </div>
</div>

<div class="product-gallery-thumb swiper">
    <div class="swiper-wrapper">
        {% for thumb in variants %}
            <div class="image swiper-slide" id="{{thumb.title | handleize }}-{{forloop.index0}}">
                <img src="{{ thumb.image | img_url: "1024x" }}" alt="">
            </div>
        {% endfor %}
    </div>
</div>

{% for label in item %}
    <div class="modal" data-modal="{{label.title | handleize }}-{{forloop.index0}}">
        <div class="container">
            <div class="row">
                <img src="{{ label.image | img_url: "1024x" }}" alt="">
                <div class="content">
                    <h2>{{ label.title }}</h2>
                    <p>{{ label.description | metafield_tag }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% comment %} <img src="{{ data.image | img_url: "1024x" }}" alt=""> {% endcomment %}
