{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="container footer__wrapper">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'copyright_block' %}
          <div class="copyright">
            <div class="copyright__text">© {{ 'now' | date: '%Y' }}. {{ block.settings.copyright_text }}</div>
            <div class="copyright__links">
              <div class="link">
                <a href="{{ block.settings.terms_and_conditions_link }}">Terms and Conditions</a>
              </div>
              <div class="link">
                <a href="{{ block.settings.privacy_policy_link }}">Privacy Policy</a>
              </div>
              <div class="link">
                <label>Website by </label>
                <a href="{{ block.settings.developer_link }}">Craft & Root</a>
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</footer>

{% schema %}
{
  "name": "Footer section",
  "settings": [
    {
      "type": "text",
      "label": "Slogan",
      "id": "footer_slogan"
    }
  ],
  "blocks": [
    {
      "name": "Navigation block",
      "type": "footer_navigation_block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "links",
          "label": "Menu"
        }
      ]
    },
    {
      "name": "Copyright block",
      "type": "copyright_block",
      "settings": [
        {
          "type": "text",
          "id": "copyright_text",
          "label": "Copyright text"
        },
        {
          "type": "url",
          "id": "terms_and_conditions_link",
          "label": "Terms and Conditions link"
        },
        {
          "type": "url",
          "id": "privacy_policy_link",
          "label": "Privacy Policy link"
        },
        {
          "type": "url",
          "id": "developer_link",
          "label": "Developer link"
        }
      ]
    }
  ]
}
{% endschema %}
