{{ 'section-header.css' | asset_url | stylesheet_tag }}

<header class="header">
  <div class="header__wrapper container">
    <div class="logo">
      {% render 'logo' %}
    </div>
    <div class="nav">
      {% for link in linklists['main-menu'].links %}
        <div class="nav__item">
          <a
            class="link {% if link.links != blank %}has-dropdown{% endif %}"
            href="{% if link.links != blank %}#{% else %}{{ link.url }}{% endif %}"
          >
            {{- link.title -}}
          </a>
          {% if link.links != blank %}
            <div class="dropdown">
              {% for child_link in link.links %}
                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</header>
