{{ 'section-header.css' | asset_url | stylesheet_tag }}

<header class="header">
  <div class="header__wrapper">
    <div class="container">
      <div class="logo">
        {% render 'logo' %}
      </div>
      <div class="nav nav--desktop">
        {% for link in linklists['main-menu'].links %}
          <div class="nav__item">
            <a
              class="underline weight--normal link text--2xs {% if link.url == 'https://shop.xylyxbio.com/' %}active{% endif %} {% if link.links != blank %}has-dropdown{% endif %}"
              href="{% if link.links != blank %}#{% else %}{{ link.url }}{% endif %}"
            >
              {{- link.title -}}
            </a>
            {% if link.links != blank %}
              <div class="dropdown">
                {% for child_link in link.links %}
                  <div class="dropdown__item ">
                    <a class="underline link text--s" href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="nav__item">
          {% render 'button', href: 'https://xylyxbio.com/#contact-us', label: 'Contact us', size: 's' %}
        </div>
      </div>
      <div class="nav nav--mobile">
        {% render 'button', href: 'https://xylyxbio.com/#contact-us', label: 'Contact us', size: 's' %}
        <div class="menu-toggle">
          <span></span>
          <span></span>
        </div>
        <div class="mobile-menu-wrapper">
          <div class="nav">
            {% for link in linklists['main-menu'].links %}
              <div class="nav__item">
                <a
                  class="underline weight--normal link text--xl {% if link.url == 'https://shop.xylyxbio.com/' %}active{% endif %} {% if link.links != blank %}has-dropdown{% endif %}"
                  href="{% if link.links != blank %}#{% else %}{{ link.url }}{% endif %}"
                >
                  {{- link.title -}}
                </a>
                {% if link.links != blank %}
                  <div class="submenu">
                    {% for child_link in link.links %}
                      <div class="submenu__item ">
                        <a class="underline link text--m" href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="social-links">
            {% for link in linklists.social.links %}
              {% render 'social-link', link: link %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
